  <h1>Bienvenido Maraton de Preguntas!</h1>
  <p>Bienvenido a Maraton de Preguntas</p>
    <div>
    <div>Menú</div>
    <hr/>
    <ul>
    <li> <a href="/registrar" ><button id="sesion" type="button">Registrar</button></a> </li>
    <li> <a href="/loogin_user" ><button id="sesion" type="button">Iniciar Sesión</button></a> </li>
    <li> <a href="/registrar" ><button id="sesion" type="button">Scores</button></a> </li>
    <li> <a href="/registrar" ><button id="sesion" type="button">Jugar</button></a> </li>
    <li> <a href="/registrar" ><button id="sesion" type="button">Salir</button></a> </li>
    </ul>
    </div>
