  <h1>¡Bienvenido a Maratón!</h1>
  <p>Selecciona una opción.</p>
  <p>Si aún no tienes una cuenta regístrate y/o inicia sesión, para poder jugar.</p>
    <div>
    <hr/>
    <ul>
    <li> <a href="/registrar" ><button id="sesion" type="button">Registrarse</button></a> </li>
    <li> <a href="/loogin_user" ><button id="sesion" type="button">Iniciar Sesión</button></a> </li>
    
    <li> <a href="/menudeck" ><button id="sesion" type="button">Jugar</button></a> </li>

    </ul>
    </div>
