  <h1>Bienvenido Maraton de Preguntas!</h1>
 
    <div>
    <div>ººººººººººººººººººººººººººº ELIGE UNA CATEGORIA ººººººººººººººººººººººººººº</div>
    <hr/>
    <ul>
    <li> <a href="/registrar" ><button id="sesion" type="button">History</button></a> </li>
    <li> <a href="/registrar" ><button id="sesion" type="button">Geography</button></a> </li>
    <li> <a href="/registrar" ><button id="sesion" type="button">Football</button></a> </li>
    <li> <a href="/registrar" ><button id="sesion" type="button">Salir</button></a> </li>
    </ul>
    </div>
