  <h1>¡Realiza tu Registro!</h1>
<form action="/registrar_user" method="post">
    <h3>Email</h3>
    <input type="email" name="email" placeholder="name@hotmail.com">
    <h3>Password</h3>
    <input type="text" name="password" placeholder="********"><br><br>
    <input type="submit">
</form>
<div class="regreso">
    <a href="/" >Regresar</a> 
</div>  
